{% extends "map/header.html" %}

{% load static %}

{% block content %}
<script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>

<h2>Carte en cours</h2>

<canvas id="canvas_carte" height=500 width=500 margin=auto" display="block"
        style="background: rgba(117,120,255,0.58); height:500px; width:500px"></canvas>

<!-- Refresh the page every 100 s to prevent an overload of the browser with the MAP files -->
<meta http-equiv="Refresh" content="500">

<script>
    // Ajax Query to get the data to plot the Map
    var MAP;
    function refresh() {
        $.getJSON("{% url 'Data_carte' %}", MAJ_Map)
    }

    refresh();
    // Relaunch the function refresh every 5 s
    setInterval(function(){refresh()}, 5000);

    // Function to plot de Map on the canvas
    function MAJ_Map(file) {

    // Extract the data from Ajax Query
    var list_room = file.list_room;
    var list_door = file.list_door;
    var max_size = file.max_size;

    // Get the canvas elements
    var canvas = document.getElementById('canvas_carte');
    var ctx = canvas.getContext('2d');
    // Clear the canvas
    ctx.clearRect(0, 0, canvas.width, canvas.height);

    // Transform the canvas to orientate it correctly
    ctx.setTransform(1, 0, 0, -1, 0, 500);

    // Resize the map to fit the most the canvas
    ctx.scale((canvas_carte.width - 30) / max_size, (canvas_carte.height - 30) / max_size);

    // Display all the rooms with their walls
        for (var i = 0; i < list_room.length; i++) {
            var list_point = list_room[i][1];
            // Iterate over all points of the list
            for (var j = 0; j <= list_point.length - 2; j++) {
                draw_wall(list_point[j], list_point[j + 1]);
            }
            // Display the last line of list_point
            draw_wall(list_point[0], list_point[list_point.length - 1]);
        }

        // Display all the doors which are superposed with the walls
        for (var i = 0; i < list_door.length; i++) {
            var list_point_door = list_door[i][1];
            // Iterate over all points of the list
            for (var j = 0; j <= list_point_door.length - 1; j++) {
                draw_door(list_point_door[j][0], list_point_door[j][1]);
            }
        }

        // Function to draw a wall
        function draw_wall(point1, point2) {
            ctx.lineWidth = 10 / max_size;
            ctx.strokeStyle = 'black';
            ctx.beginPath();
            ctx.moveTo(point1[0], point1[1]);
            ctx.lineTo(point2[0], point2[1]);
            ctx.stroke()
        }

        // Function to draw a door
        function draw_door(point1, point2) {
            ctx.lineWidth = 30 / max_size;
            ctx.strokeStyle = 'orange';
            ctx.beginPath();
            ctx.moveTo(point1[0], point1[1]);
            ctx.lineTo(point2[0], point2[1]);
            ctx.stroke()
        }
}

</script>

{% endblock %}
