{% extends "map/header.html" %}

{% block content %}

<p>Ce site permet de gérer l'ensemble du projet cartographie.</p>
<br>
<p>Les fonctionnalités disponibles sont : </p>
<li>La gestion des robots avec leur id, leur position, leur niveau de batterie et les informations de connexion</li>
<li>L'affichage de la carte en cours avec les pièces explorées ainsi que les portes détectées</li>
<li>Affichage de l'historique des cartes et de les afficher</li>
<li>Prendre une photo de ce que voit l'un des robots</li>
<li>Les informations relatives aux membres du projet de chaque année</li>

{% endblock %}
