{% extends "map/header.html" %}

{% block content %}

<h2>Infos</h2>

<p>Le projet a commencé l'année 2015, mais il a complètement été revu en terme d'objectifs. En 2016, une nouvelle équipe
repris le projet et a changé les objectifs. Les objectifs actuels sont les suivants :</p>
<li>Cartographier un espace avec des robots qui se déplacent en roulement</li>
<li>Chaque robot devient tantôt explorateur, balise</li>
<li>Le site internet permet de récupérer les infos des bases de données et les afficher</li>

<br>
<p>L'équipe 2016 était composé des personnes suivantes</p>

<table class="table table-striped" style="background-color: #FFFFFF">
    <thead class="text-right">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Contact</th>
            <th>Responsabilité</th>
        </tr>
    </thead>
    <tbody class="text-center">

        <tr>
            <td>CUSSON</td>
            <td>Thomas</td>
            <td> <a href="mailto:thomas.cusson@hotmail.fr?Subject=Projet%20Cartographie">thomas.cusson@hotmail.fr</a></td>
            <td>Gestion de projet, Site internet, Automatique, Base de données, Plateforme robot</td>
        </tr>

        <tr>
            <td>HELENON</td>
            <td>François</td>
            <td>francois.helenon@supelec.fr</td>
            <td>Vision</td>
        </tr>

        <tr>
            <td>GUO</td>
            <td>Xiaoya</td>
            <td>xiaoya.guo@hotmail.fr</td>
            <td>Triangulation</td>
        </tr>

    </tbody>
</table>

{% endblock %}
